
#my_post_left_div {
	border: 1px solid #A9C9E2;
	width: 150px;
	position: relative;
	top: 10px;
	float: left;
}

#my_post_middle_div {
	border: 1px solid #A90000;
	width: 380px;
	position: relative;
	top: 10px;
	float: left;
}

#my_post_right_div {
	border: 1px solid #F9B3D5;
	width: 400px;
	float: left;
	position: relative;
	top: 10px;
}

.postimage {
	max-width: 100px;
	max-height: 100px;
	overflow: hidden;
}