#{extends 'templates/main.html'/}
#{set title:'Post Stream'/}

<style type="text/css">
#my_post_left_div {
    width: 500px;
    position: relative;
    top: 10px;
    float: left;
}


#my_post_right_div {
    width: 200px;
    float:left;
    position: relative;
    top: 10px;
}


	.postImage{height:50px;}
</style>

<script>
var myPostScope = {};

$(function() {      
   initialize();
});


function initialize() {
	myPostScope.mapOptions = {
          center: new google.maps.LatLng(0, 0),
          zoom: 1,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
	myPostScope.map = new google.maps.Map(document.getElementById("newpost-map-canvas"),
			myPostScope.mapOptions);
}

//setMarkerPosition
function setMarkerPosition(lat, lng){
	var location = new google.maps.LatLng(lat, lng);
	
   	myPostScope.map.panTo(location);
   	myPostScope.map.setZoom(16);
   	
   	if(myPostScope.marker){
   		myPostScope.marker.setPosition(location);
   	}
   	else{
   		myPostScope.marker = new google.maps.Marker({
	            map: myPostScope.map,
	            position: location
	        });
   	}
}
	

</script>

<div id="my_post_left_div">
	<div class="myposts">
	        <h3>My posts</h3>
        	<br>
        	
        	#{form @NewPost.page()}
            	<button>Add New Post </button>
            #{/form}
			<br>
			    
            #{list items:posts, as:'myPost'}
                <div class="post" >                
                    <h2 class="post-title" #{if myPost.mapLocation.latitude} onmouseover="setMarkerPosition(${myPost.mapLocation.latitude}, ${myPost.mapLocation.longitude})" #{/if}>
                        <a href="@{ViewPost.page(myPost.id)}">${myPost.title}</a>
                    </h2>                    
                    <div class="post-image">
                    	
                    </div>
                    
                    <div class="post-metadata">
                        <span class="post-desc">
                            ${myPost.description}
                        </span>
                   
                        <span class="post-date">

                        </span>
                    </div>
                </div>
            #{/list}
            #{else}
			    <div class="empty">
			        You havn't publish any post .
			    </div>
			#{/else}
        </div>
</div>



<div id="my_post_right_div">
    <div id="newpost-map-canvas" style="height:400px;width:400px">  </div>
</div>

