#{if searchString}
<div id="navigation_bar_search">
	<input id="navigation_bar_search_text" placeholder="Type in your search terms!" type="text" name="searchString" value="${searchString?.raw()}">
	<input id="navigation_bar_search_button" type="button" value="Search">
</div>
	#{/if}
		<div id="loginRegisterError">
 		<!-- Claudia added error message to navigation bar. 
 		But it should be inside the popup-window. Don't know how it has to look like in JavaScript -->
			#{if flash.error}
				<p style="color:#c00">
					${flash.error}
				</p>
		</div>
	#{/if}
	

<div id="navigation_bar_register">
	<a href="#" class="navigation_bar_pop_up_button navigation_bar_register_button">
		Register
	</a>
	<div id="navigation_bar_register_box">
		<div class="navigation_bar_triangle">
		</div>
		<div class="navigation_bar_triangle2">
		</div>
    	<div id="navigation_bar_register_box_content">
        	#{form @MainPage.register(), id:'navigation_bar_register_form'}
            	<input type="text" name="email" placeholder="E-Mail" />
            	<input type="password" name="password" placeholder="Password" />
            	<input type="password" name="password_retyped" placeholder="Password Retyped" />
            	<input type="submit" value="Register" />
        	#{/form}
    	</div>
	</div>
</div>
<div id="navigation_bar_login">
	<a href="#" class="navigation_bar_pop_up_button navigation_bar_login_button">
		Login
	</a>
	<div id="navigation_bar_login_box">
		<div class="navigation_bar_triangle">
		</div>
		<div class="navigation_bar_triangle2">
		</div>
    	<div id="navigation_bar_login_box_content">
    		#{form @MainPage.login(), id:'navigation_bar_login_form'}
            	<input type="text" name="email" placeholder="E-Mail" />
            	<input type="password" name="password" placeholder="Password" />
            	<input type="submit" value="Login" />
        	#{/form}
    	</div>
	</div>
</div>

<span id="signinButton">
  <span
    class="g-signin"
    data-callback="signinCallback"
    data-clientid="571570966889.apps.googleusercontent.com"
    data-cookiepolicy="single_host_origin"
    data-requestvisibleactions="http://schemas.google.com/AddActivity"
    data-scope="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email">
  </span>
</span>
<script>
function signinCallback(authResult) {
	  if (authResult['access_token']) {
	    // Successfully authorized
	    // Hide the sign-in button now that the user is authorized, for example:
	    document.getElementById('signinButton').setAttribute('style', 'display: none');
	    gapi.client.load('oauth2', 'v2', function() {
	    	  gapi.client.oauth2.userinfo.get().execute(function(response) {
	    	    // Shows user email
	    	    
	    	    gapi.client.load('plus', 'v1', function() {
	  	    	  gapi.client.plus.people.get( {'userId' : 'me'} ).execute(function(response2) {
	  	    	    // Shows profile information
	    	    	//console.log(response.email);
	  	    	    //console.log(response2.displayName);
	  	    	    console.log(authResult['access_token']);
	  	    		var googleAction = #{jsRoute @MainPage.google(':email', ':fullname', ':accessToken') /};
	  		      	$.ajax({
	  		      		url: googleAction.url({email: response.email, fullname: response2.displayName, accessToken: authResult['access_token']}),
	  				    success: function (data) {
	  				    			window.location = "/myPosts";
	  				              },
	  		            error:	 function (xhr, ajaxOptions, thrownError) {
	  			                	alert(thrownError);
	  		            		  }
	  			    });
	  	    	  })
	  	    	});
	    	    
	    	  })
	    	});
	  } else if (authResult['error']) {
	    // There was an error.
	    // Possible error codes:
	    //   "access_denied" - User denied access to your app
	    //   "immediate_failed" - Could not automatically log in the user
	    // console.log('There was an error: ' + authResult['error']);
	  }
	}
</script>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
  FB.init({
    appId      : '543391872364338', // App ID
    channelUrl : '//www.tourfootprint.com/channel.html', // Channel File
    status     : true, // check login status
    cookie     : true, // enable cookies to allow the server to access the session
    xfbml      : true  // parse XFBML
  });

  // Here we subscribe to the auth.authResponseChange JavaScript event. This event is fired
  // for any authentication related change, such as login, logout or session refresh. This means that
  // whenever someone who was previously logged out tries to log in again, the correct case below 
  // will be handled. 
  FB.Event.subscribe('auth.authResponseChange', function(response) {
    // Here we specify what we do with the response anytime this event occurs. 
    if (response.status === 'connected') {
      // The response object is returned with a status field that lets the app know the current
      // login status of the person. In this case, we're handling the situation where they 
      // have logged in to the app.
      //testAPI();
      FB.api('/me', function(response2) {
      	var facebookAction = #{jsRoute @MainPage.facebook(':email', ':fullname', ':token') /};
      	$.ajax({
      		url: facebookAction.url({email: response2.email, fullname: response2.name, token: FB.getAuthResponse()['accessToken']}),
		    success: function (data) {
		    			alert("Successful login with Facebook.");
		    			window.location = "/myPosts";
		              },
            error:	 function (xhr, ajaxOptions, thrownError) {
	                	alert(thrownError);
            		  }
	    });
      });
    } else if (response.status === 'not_authorized') {
      // In this case, the person is logged into Facebook, but not into the app, so we call
      // FB.login() to prompt them to do so. 
      // In real-life usage, you wouldn't want to immediately prompt someone to login 
      // like this, for two reasons:
      // (1) JavaScript created popup windows are blocked by most browsers unless they 
      // result from direct interaction from people using the app (such as a mouse click)
      // (2) it is a bad experience to be continually prompted to login upon page load.
      FB.login();
    } else {
      // In this case, the person is not logged into Facebook, so we call the login() 
      // function to prompt them to do so. Note that at this stage there is no indication
      // of whether they are logged into the app. If they aren't then they'll see the Login
      // dialog right after they log in to Facebook. 
      // The same caveats as above apply to the FB.login() call here.
      FB.login();
    }
  });
  };

  // Load the SDK asynchronously
  (function(d){
   var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement('script'); js.id = id; js.async = true;
   js.src = "//connect.facebook.net/en_US/all.js";
   ref.parentNode.insertBefore(js, ref);
  }(document));

  // Here we run a very simple test of the Graph API after login is successful. 
  // This testAPI() function is only called in those cases. 
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Good to see you, ' + response.name + ' ( ' + response.email + ' ).');
    });
  }
</script>

<!--
  Below we include the Login Button social plugin. This button uses the JavaScript SDK to
  present a graphical Login button that triggers the FB.login() function when clicked.

  Learn more about options for the login button plugin:
  /docs/reference/plugins/login/ -->

<fb:login-button perms="email" show-faces="true" width="200" max-rows="1"></fb:login-button>