<div id="my_posts">
	<a href="#">My Posts</a>
</div>
<div id="post_stream">
	<a href="#">Post Stream</a>
</div>
<div id="nav_search">
	<form id="searchBar" action="">
		<input id="search" placeholder="Type in your search terms!" type="text">
		<input id="button" type="button" value="Search">
	</form>
</div>
<div id="help">
	<a href="#">Help</a>
</div>
<div id="profile">
	<a href="#" class="navigationBarPopUp_button register_button">
		Register
	</a>
	<div id="register_box">
		<div class="triangle">
		</div>
		<div class="triangle2">
		</div>
    	<div id="register_box_content">
        	<form id="register_form">
            	<h2>Give us the deets.</h2>
            	<input type="text" placeholder="Username" />
            	<input type="password" placeholder="Password" />
            	<input type="submit" value="Do it!" />
        	</form>
    	</div>
	</div>
</div>