<div id="my_posts">
	<a href="@{MyPosts.page()}">My Posts</a>
</div>
<div id="post_stream">
	<a href="#">Post Stream</a>
</div>
<div id="nav_search">
	<form id="searchBar" action="">
		<input id="search" placeholder="Type in your search terms!" type="text">
		<input id="button" type="button" value="Search">
	</form>
</div>
<div id="help">
	<a href="#">Help</a>
</div>
<div id="profile">
	<a href="#" class="navigationBarPopUp_button profile_button">
		Profile
	</a>
	<div id="profile_box">
		<div class="triangle">
		</div>
		<div class="triangle2">
		</div>
    	<div id="profile_box_content">
        	#{form @MainPage.logout(), id:'profile_form'}
            	<input type="submit" value="View Profile" />
        	#{/form}
        	#{form @MainPage.logout(), id:'profile_form2'}
            	<input type="submit" value="Logout" />
            	<a href="/logout" onclick="FB.logout();">Logout</a>
        	#{/form}
    	</div>
	</div>
</div>