<div id="register">
	<a href="#" class="navigationBarPopUp_button register_button">
		Register
	</a>
	<div id="register_box">
		<div class="triangle">
		</div>
		<div class="triangle2">
		</div>
    	<div id="register_box_content">
        	<form id="register_form">
            	<input type="text" placeholder="E-Mail" />
            	<input type="password" placeholder="Password" />
            	<input type="password" placeholder="Password Retyped" />
            	<input type="submit" value="Register" />
        	</form>
    	</div>
	</div>
</div>
<div id="login">
	<a href="#" class="navigationBarPopUp_button login_button">
		Login
	</a>
	<div id="login_box">
		<div class="triangle">
		</div>
		<div class="triangle2">
		</div>
    	<div id="login_box_content">
        	<form id="login_form">
            	<input type="text" placeholder="E-Mail" />
            	<input type="password" placeholder="Password" />
            	<input type="submit" value="Login" />
        	</form>
    	</div>
	</div>
</div>