<div id="map"></div>
<div id="posts">
	<div id="liked">
		#{list items:posts, as:'post'}
			<h1>${post.title.raw()}</h1>
			<p>
				${post.description.raw()} <a href="/viewPost?postId=${post.getId()}">Read more ...</a>
			</p>
		#{/list}
	</div>
	<div id="personalized"></div>
</div>
<script>
	function initialize() {
		
		var map = new google.maps.Map(document.getElementById('map'), {
			zoom: 1,
			center: new google.maps.LatLng(0,0),
			mapTypeId: google.maps.MapTypeId.ROADMAP
		});
		var infoWindow = new google.maps.InfoWindow();
		
		var marker, i;
		#{list items:posts, as:'post'}  
		      marker = new google.maps.Marker({
		        position: new google.maps.LatLng(${post.mapLocation.latitude}, ${post.mapLocation.longitude}),
		        map: map,
		        url: '/viewPost?postId=${post.getId()}'
		      });

		      google.maps.event.addListener(marker, 'click', function() {
		    	  window.location.href = marker.url;
		      });
		#{/list}
	}
	google.maps.event.addDomListener(window, 'load', initialize);
</script>